<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martstock">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CommentActivity"
            android:label="Comments"
            android:parentActivityName=".BuyingActivity">

        </activity>
        <activity
            android:name=".QRCode"
            android:label="Generate QR Code"
            android:parentActivityName=".BuyingActivity" />
        <activity
            android:name=".SummaryActivity"
            android:label="Factory Prices"
            android:parentActivityName=".ViewReportActivity" />
        <activity
            android:name=".WebActivity"
            android:label="Live Mart"
            android:parentActivityName=".LiveMartsActivity" />
        <activity
            android:name=".LiveMartsActivity"
            android:label="Live Marts"
            android:parentActivityName=".BuyingActivity" />
        <activity
            android:name=".ViewStatsActivity"
            android:parentActivityName=".PlaceAd" />
        <activity
            android:name=".LikedAdsActivity"
            android:label="Liked Ads"
            android:parentActivityName=".ManageMyAccount" />
        <activity
            android:name=".SoldAdsActivity"
            android:label="Sold Ads"
            android:parentActivityName=".ManageMyAccount" />
        <activity
            android:name=".ManageMyAccount"
            android:label="Manage My Account"
            android:parentActivityName=".BuyingActivity" />
        <activity
            android:name=".UpdateAd"
            android:label="Update Ad"
            android:parentActivityName=".ManageMyAccount" />
        <activity
            android:name=".PlaceAd"
            android:label="Place Ad"
            android:parentActivityName=".BuyingActivity" />
        <activity
            android:name=".SoldActivity"
            android:label="Mark As Sold"
            android:parentActivityName=".ViewAdsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".PlaceAd" />
        <activity
            android:name=".ViewAdsActivity"
            android:label="Active Ads"
            android:parentActivityName=".ManageMyAccount" />
        <activity
            android:name=".UpdateProfileActivity"
            android:label="Update Profile"
            android:parentActivityName=".ManageMyAccount" />
        <activity
            android:name=".ViewReportActivity"
            android:label="Mart Reports"
            android:parentActivityName=".BuyingActivity" />
        <activity
            android:name=".BuyingActivity"
            android:label="MartStock" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".MainActivity"
            android:label="MartStock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>